html, body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: "Syne", sans-serif;
}

#app-container {
  margin: var(--app-container-margin-vertical) var(--app-container-margin-horizontal);
  height: calc(100vh - 2 * var(--app-container-margin-vertical));
  width: calc(100vw - 2 * var(--app-container-margin-horizontal));
  display: flex;
}

#vertical-title {
  background-color: var(--background-color-light);
  font-weight: 800;
  font-size: 3.8rem;
  color: var(--text-color-light);
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin: 0;
  height: 100%;
  text-align: center;
  padding: 0 1.5vw;
  border-radius: 1.2rem;
}

#app-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 0 0 4vw;
  max-width: 80vw;
  position: relative;
}

#top-bar {
  display: flex;
}

.selector, #search-bar {
  display: flex;
  align-items: center;
  border-radius: 1.2rem;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.selector {
  background-color: #7157FF;
  color: #AA9DF5;
  margin-right: 1.5vw;
  padding: 0 1vw;
}

/* TODO transition on max-width */
.selector h2 {
  font-weight: 800;
  font-size: 1.8rem;
  cursor: pointer;
  transition: margin 0.3s ease-in-out;
  max-width:0;
  opacity:0;
  margin: 0 0;
  overflow:hidden;
}

.selector h2:first-child, .selector:hover h2 {
  max-width: fit-content;
  opacity: 1;
  margin: 0 1vw;
  transform: translateX(0%);
}

.selector-selected, .selector h2:hover {
  color: var(--text-color-light);
}

#search-bar {
  background-color: var(--background-color-light);
  margin-left: auto;
  /*margin-right: 3vw;*/
  width: 42%;
  padding-left: 1vw;
  padding-right: 1vw;
}

#search-bar input {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0 1.5vw;
  width: 100%;
  color: #7157FF;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Syne", sans-serif;
}

/*
#carousel-arrow-up, #carousel-arrow-down {
  width: 100%;
  height: 3%;
  display: flex;
  justify-content: center;
  padding-bottom: 1.5vh;
}

#carousel-arrow-down {
  transform: rotate(180deg);
}
*/

#trombinoscope-grid-container {
  margin-top: 6vh;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
}

#trombinoscope-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2vw 2vw;
}

#trombinoscope-grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
}

#trombinoscope-grid-overlay.active {
  z-index: 1;
  opacity: .7;
}

#new-student {
  box-sizing: border-box;
  background-color: #8570FC;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#new-student:hover {
  background-color: #7157FF;
}

#new-student:hover #new-student-content {
  scale: 1.05;
}

#new-student-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #D8D4F1;
  font-size: 2rem;
  row-gap: 1vh;
  transition: all 0.3s ease-in-out;
}

.student {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.student-profile-picture {
  border-radius: 1rem;
  object-fit: cover;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
}

.student-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.9) 100%);
  opacity: 0.3;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}

.student:hover .student-overlay {
  opacity: 1;
}

.student-main-infos {
  position: absolute;
  bottom: 2vh;
  color: white;
  margin-left: 1vw;
  transition: all 0.3s ease-in-out;
}

.student-main-infos h3 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.company-icon {
  margin-top: 0.5vw;
  height: 1.3vw;
  opacity: 0; /* Initially hidden */
  position: absolute;
  transition: opacity 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.student:hover .company-icon {
  opacity: 1;
}

.student:hover .student-main-infos {
  bottom: 5vh;
}

.student-detailed-infos {
  display: none;
  position: absolute;
  height: 100%;
  box-sizing: border-box;
  background-color: #A99BF2;
  transition: opacity 1s ease-in-out;
  border-radius: 0 1rem 1rem 0;
  opacity: 0;
  padding: 2vh 1vw 2vh 3vw;
  min-width: 25vw;
  z-index: -1;
  left: 0;
}

.student-detailed-infos.active {
  display: block;
  opacity: 1;
}

.student-detailed-infos p{
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  color: white;
  overflow-wrap: break-word
}

.student-detailed-infos span {
  color: #7157FF;
}

.student-links {
  display: flex;
  column-gap: 2vw;
}

.student-links a {
  color: #7157FF;
  font-size: 1.2rem;
  transition: color 0.3s ease-in-out;
}

#add-student-form {
  z-index: 2;
  position: absolute;
  /*center*/
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  height: fit-content;
  border-radius: 1rem;
  background-color: #A99BF2;
  padding: 2vw;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  gap: 2vh 3vw;
  grid-auto-flow: row;
  grid-template-areas:
    "add-student-profile-picture add-student-mandatory add-student-mandatory"
    "add-student-description add-student-description add-student-description"
    "add-student-linkedin add-student-linkedin add-student-linkedin"
    "add-student-website add-student-website add-student-website"
    "add-student-submit add-student-submit add-student-submit";
}

#add-student-form input[type=text],
#add-student-form textarea {
  width: 100%;
  background-color: #8570FC;
  border: none;
  border-radius: 1rem;
  color: #D8D4F1;
  font-size: 1.2rem;
  padding-left: 1vw;
  box-sizing: border-box;
  transition: background-color 0.3s ease-in-out;
}

#add-student-form input[type=text]:focus,
#add-student-form textarea:focus,
#add-student-form input[type=text]:hover,
#add-student-form textarea:hover{
  background-color: #7157FF;
}

#add-student-form input[type=text] {
  height: 5vh;
}

#add-student-form input, #add-student-form textarea {
  display: block;
  margin-top: 1vh;
  font-family: "Syne", sans-serif;
}

#add-student-form textarea {
  padding-top: 1vh;
}

#add-student-form input:focus, #add-student-form textarea:focus {
  outline: none;
}

#add-student-form label, .fake-label {
  color: #7157FF;
  font-size: 1.4rem;
  font-weight: 700;
}

#add-student-form input::placeholder,
#add-student-form textarea::placeholder {
  color: #D8D4F1;
  font-family: "Syne", sans-serif;
}

/*#add-student-form input[type=file] {
  object-fit: cover;
  border-radius: 1rem;
  aspect-ratio: 1/1;
  background-color: #7157FF;
}*/

.add-student-profile-picture input[type=file],
.add-student-company-logo input[type=file] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}


.add-student-profile-picture label {
  border-radius: 1rem;
  aspect-ratio: 1/1;
  background-color: #8570FC;
  height: 15vh;
  margin-top: 1vh;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;
}

.add-student-profile-picture label:hover,
.add-student-company-logo label:hover {
  background-color: #7157FF;
}

.add-student-profile-picture label img {
  width: 60%;
}

.add-student-company-logo label {
  border-radius: 1rem;
  aspect-ratio: 1/1;
  background-color: #8570FC;
  margin-top: 1vh;
  height: 5vh;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;
}

.add-student-company-logo label img {
  width: 50%;
}

.add-student-description {
  grid-area: add-student-description;
}

.add-student-linkedin {
  grid-area: add-student-linkedin;
}

.add-student-website {
  grid-area: add-student-website;
}

.add-student-profile-picture {
  grid-area: add-student-profile-picture;
  display: flex;
  flex-direction: column;
}


.add-student-mandatory {
  grid-area: add-student-mandatory;
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
}

.add-student-submit {
  grid-area: add-student-submit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-student-submit input[type=submit] {
  width: 10vw;
  height: 5vh;
  background-color: #7157FF;
  border: none;
  border-radius: 1rem;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: scale 0.3s ease-in-out;
}

.add-student-submit input[type=submit]:hover {
 scale: 1.05;
}

#add-student-name, #add-student-company {
  display: flex;
  column-gap: 3vw;
}

