html, body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: "Syne", sans-serif;
}

#app-container {
  margin: var(--app-container-margin-vertical) var(--app-container-margin-horizontal);
  height: calc(100vh - 2 * var(--app-container-margin-vertical));
  display: flex;
}

#vertical-title {
  background-color: var(--background-color-light);
  font-weight: 800;
  font-size: 3.8rem;
  color: var(--text-color-light);
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin: 0;
  height: 100%;
  text-align: center;
  padding: 0 1.5vw;
  border-radius: 1.2rem;
}

#app-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 0 0 4vw;
}

#top-bar {
  display: flex;
}

.selector, #search-bar {
  display: flex;
  align-items: center;
  border-radius: 1.2rem;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.selector {
  background-color: #7157FF;
  color: #AA9DF5;
  margin-right: 1.5vw;
  padding: 0 1vw;
}

/* TODO transition on max-width */
.selector h2 {
  font-weight: 800;
  font-size: 1.8rem;
  cursor: pointer;
  transition: margin 0.3s ease-in-out;
  max-width:0;
  opacity:0;
  margin: 0 0;
  overflow:hidden;
}

.selector h2:first-child, .selector:hover h2 {
  max-width: fit-content;
  opacity: 1;
  margin: 0 1vw;
  transform: translateX(0%);
}

.selector-selected, .selector h2:hover {
  color: var(--text-color-light);
}

#search-bar {
  background-color: var(--background-color-light);
  margin-left: auto;
  /*margin-right: 3vw;*/
  width: 40%;
  padding-left: 1vw;
  padding-right: 1vw;
}

#search-bar input {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0 1.5vw;
  width: 100%;
  color: #7157FF;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Syne", sans-serif;
}

/*
#carousel-arrow-up, #carousel-arrow-down {
  width: 100%;
  height: 3%;
  display: flex;
  justify-content: center;
  padding-bottom: 1.5vh;
}

#carousel-arrow-down {
  transform: rotate(180deg);
}
*/

#trombinoscope-grid-container {
  margin-top: 6vh;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#trombinoscope-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2vw 2vw;
}

.student {
  box-sizing: border-box;
  position: relative;
}

.student-profile-picture {
  border-radius: 1rem;
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.student-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.9) 100%);
  opacity: 0.3;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}

.student:hover .student-overlay {
  opacity: 1;
}

.student-main-infos {
  position: absolute;
  bottom: 2vh;
  color: white;
  margin-left: 1vw;
  transition: all 0.3s ease-in-out;
}

.student-main-infos h3 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.company-icon {
  margin-top: 0.5vw;
  height: 1.3vw;
  opacity: 0; /* Initially hidden */
  position: absolute;
  transition: opacity 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.student:hover .company-icon {
  opacity: 1;
}

.student:hover .student-main-infos {
  bottom: 5vh;
}

.student-detailed-infos {
  display: none;
}
